#edituser form {
    display: grid;
    /* grid-template-columns: repeat(1,1fr);
    grid-column-start: span; */
    justify-content: center;
    /* gap: 0px, 20px; */
    /* width: max-content; */
    margin: auto;
}

#edituser form label {
    padding: 5px;
    text-align: left;
}

#edituser form input[type=text] {
    box-sizing: border-box;
    padding: 5px;
    border:1px solid #3580D2;
}


#edituser form input:active{
    border-color: #3580D2;
}

#edituser form button {
    background-color: #3580D2;
    color:white;
    border:none;
    padding:10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 2px;
}

#edituser form button:hover {
    background-color: #4DBEFF;
}