.popup {
    position: absolute;
    top: 60vh;;
    left: 10px;
    width: 70%;
    border: 3px solid #3580D2;;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.popup-header h2 {
    padding-top:5px;
    margin: 0;
    font-size: 16px;
}
.popup-body {
    padding: 10px;
}
.rating {
    color: #FF9900;
}
.tags {
    margin-top: 10px;
}
.tag {
    display: inline-block;
    background-color: #d9d9d9;
    color: black;
    padding: 3px 7px;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 12px;
}
.buttons {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 10px;
}
.button {
    display: inline-block;
    background-color: #4DBEFF;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
    margin-right: 5px;
}
.button:hover {
    background-color: #3580D2;
}

.username {
    font-size: 12px;
    text-align: right;
    font-style: italic;
}