

#registeruser form {
    display: grid;
    width: 100%;
    /* grid-template-columns: 160%;
    grid-column-start: span; */
    justify-content: center;
    /* gap: 0px, 20px; */
    /* width: max-content; */
    margin: auto;
}

#registeruser form label {
    padding: 5px;
    text-align: left;
}

#registeruser form input[type=text] {
    width:100%;
    box-sizing: border-box;
    padding: 5px;
    border:1px solid #3580D2;
}


#registeruser form input:active{
    border-color: #3580D2;
}

#registeruser form button {
    background-color: #3580D2;
    color:white;
    border:none;
    padding:10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 2px;
}

#registeruser form button:hover {
    background-color: #4DBEFF;
}

@media screen and (max-width:600px) {
    #registeruser form {
        justify-content: stretch;
    }

    #registeruser h4{
        font-size: 1.2em;
    }
}